<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" media="screen and (min-width: 1857px)" href="assets/css/style5.css" />
    <link rel="stylesheet" media="screen and (max-width: 1856px)" href="assets/css/style2.css" />
    <link rel="stylesheet" media="screen and (max-width: 1402px)" href="assets/css/style3.css" />
    <link rel="stylesheet" media="screen and (max-width: 940px)" href="assets/css/style4.css" />
    <!--
    <link rel="stylesheet" media="screen and (max-width: 1280px)" href="petite_resolution.css" />
    <link rel="stylesheet" media="screen and (min-width: 1808px)" href="assets/css/style.css" />
    -->
    <title>Mohamed FADIKA - Développeur web full stack</title>
</head>
<body>
<div class="container-fluid" id="app">
    <!--smallnav-->
    <div class="smallBar pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4">
                <h4 class="text-white">Mohamed FADIKA</h4>
                <div class="">
                    <div class="profilPic">
                        <img class="picture" :src="presentation.picture" alt="Photo de profil" title="Photo de profil">
                    </div>
                    <div class="profilData">
                        <p class="text-white">Développeur web full stack</p>
                        <p class="text-white">{{ links.email }}</p>
                        <div>
                            <a type="button" class="btn btn-secondary button" title="Lien vers Github" alt="Lien github" :href="links.github"><i class="fab fa-github"></i></a>
                            <a type="button" class="btn btn-secondary button" title="Lien vers LinkedIn" alt="Lien linkedIn" :href="links.linkedIn"><i class="fab fa-linkedin-in"></i></a>
                            <a type="button" class="btn btn-secondary button" title="Télécharger le CV papier" alt="Lien CV papier" :href="links.CV"><i class="fas fa-file-download"></i></a>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <ul class="navBar">
                            <li @click="showHome"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers la page de présentation">Présentation</button></li>
                            <li @click="showFormation"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers la page formation">Formation</button></li>
                            <li @click="showSkills"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers la page des compéteces">Compétences</button></li>
                            <!--<li @click="showPointOfInterest"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers les centres d'intérets">Centres d'intéret</button></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark smallBar fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="row">
        <div class="sideBar col-md-3 col-xs-3 col-lg-3 col-3">
            <div class="profilPic">
                <img class="picture" :src="presentation.picture" alt="Photo de profil" title="Photo de profil">
            </div>
            <div class="profilData">
                <p class="text-white">Mohamed FADIKA</p>
                <p class="text-white">Développeur web full stack</p>
                <p class="text-white">{{ links.email }}</p>
                <div>
                    <a type="button" class="btn btn-secondary button" title="Lien vers Github" alt="Lien github" :href="links.github"><i class="fab fa-github"></i></a>
                    <a type="button" class="btn btn-secondary button" title="Lien vers LinkedIn" alt="Lien linkedIn" :href="links.linkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a type="button" class="btn btn-secondary button" title="Télécharger le CV papier" alt="Lien CV papier" :href="links.CV"><i class="fas fa-file-download"></i></a>
                </div>
            </div>
            <hr>
            <div>
                <ul class="navBar">
                    <li @click="showHome"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers la page de présentation">Présentation</button></li>
                    <li @click="showFormation"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers la page formation">Formation</button></li>
                    <li @click="showSkills"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers la page des compéteces">Compétences</button></li>
                    <!--<li @click="showPointOfInterest"><button class="btn btn-secondary btn-lg btn-block button" title="Lien vers les centres d'intérets">Centres d'intéret</button></li>-->
                </ul>
            </div>
        </div>
        <!-- -->
        <div class="corp offset-3 col">
            <div class="content">
                <!--Présentation--------------------------------------------------------------------->
                <div class="Home" v-if="page === 'home'">
                    <h1>Présentation</h1>
                    <div class="container">
                        <img class="contentImg row justify-content-center" :src="presentation.picture" alt="">
                        <div class="celulesA">
                            <p class="text-center">{{ presentation.firstname }} {{ presentation.lastname }} née le {{ presentation.birthDate }}.</p>
                        </div>
                        <div class="celulesA">{{ presentation.pitch }}</div>
                        <div class="celulesB">{{ presentation.desir }}</div>
                        <!-- <div class="celulesA">{{ presentation.projects }}</div>-->
                    </div>
                </div>
                <!--Formation--------------------------------------------------------------------->
                <div class="formation" v-else-if="page === 'formation'">
                    <h1>Ma formation</h1>
                    <div class="container">

                        <div class="celulesA">
                            <img class="contentImg row justify-content-center" src="assets/img/e2n.jpg" alt="">
                            <p>{{ formation.school }}</p>
                        </div>
                        <hr>
                        <h2>Les langages et technologies appris</h2>
                        <div class="celulesB">
                            <div class="">
                                <p class="name">{{ formation.techs.linux.name }}</p>
                                <p class="comment">{{ formation.techs.linux.comment }}</p>
                            </div>
                            <div class="">
                                <p class="name">{{ formation.techs.html.name }}</p>
                                <p>{{ formation.techs.html.comment }}</p>
                            </div>
                            <p class="name">{{ formation.techs.css.name }}</p>
                            <p>{{ formation.techs.css.comment }}</p>
                            <p class="name">{{ formation.techs.javaScript.name }}</p>
                            <p>{{ formation.techs.javaScript.comment }}</p>
                            <p class="name">{{ formation.techs.php.name }}</p>
                            <p>{{ formation.techs.php.comment }}</p>
                            <p class="name">{{ formation.techs.sql.name }}</p>
                            <p>{{ formation.techs.sql.comment }}</p>
                            <p class="name">{{ formation.techs.regex.name }}</p>
                            <p>{{ formation.techs.regex.comment }}</p>
                            <p class="name">{{ formation.techs.wordPress.name }}</p>
                            <p>{{ formation.techs.wordPress.comment }}</p>
                            <p class="name">{{ formation.techs.git.name }}</p>
                            <p>{{ formation.techs.git.comment }}</p>
                        </div>
                        <hr>
                        <h2>Les Projets réalisé en formation</h2>
                        <div class="celulesA">
                            <p class="name">{{ formation.projects.cv.name }}</p>
                            <p>{{ formation.projects.cv.comment }}</p>
                            <p class="name">{{ formation.projects.eCommerce.angularJS.name }}</p>
                            <p>{{ formation.projects.eCommerce.angularJS.comment }}</p>
                            <p class="name">{{ formation.projects.eCommerce.jQuery.name }}</p>
                            <p>{{ formation.projects.eCommerce.jQuery.comment }}</p>
                            <p class="name">{{ formation.projects.niche.name }}</p>
                            <p>{{ formation.projects.niche.comment }}</p>
                            <p class="name">{{ formation.projects.vitrine.name }}</p>
                            <p>{{ formation.projects.vitrine.comment }}</p>
                            <p class="name">{{ formation.projects.perso.name }}</p>
                            <p>{{ formation.projects.perso.comment }}</p>
                            <a :href="formation.projects.perso.link">Lien github du projet</a>
                        </div>
                    </div>
                </div>
                <!--Compétences--------------------------------------------------------------------->
                <div class="skills" v-else-if="page === 'skills'">
                    <h1>Compétences</h1>
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-lg-11 mx-auto">
                                <h2>Web</h2>
                                <ul class="timeline">
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow" v-for="skill in skills">
                                        <div class="timeline-arrow"></div>
                                        <h4 class="mb-0">{{ skill.name }}</h4><span class="note text-gray"><i class="fa fa-clock-o mr-1"></i>Maitrise : {{ skill.note.number }}</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" :style="skill.note.barre">
                                            </div>
                                        </div>
                                        <!--<p class="text-small mt-2 font-weight-light">{{ skill.coment }}</p>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-11 mx-auto">
                                <h2>Langues</h2>
                                <ul class="timeline">
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow" v-for="language in languages">
                                        <div class="timeline-arrow"></div>
                                        <h4 class="mb-0">{{ language.name }}</h4><span class="note text-gray"><i class="fa fa-clock-o mr-1"></i>Maitrise : {{ language.note.number }}</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" :style="language.note.barre">
                                            </div>
                                        </div>
                                        <!--<p class="text-small mt-2 font-weight-light">{{ language.coment }}</p>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Centres d'intéret--------------------------------------------------------------------->
                <div class="pointOfInterest" v-else-if="page === 'pointOfInterest'">
                    <h1>Centres d'intérét</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-native-elements/1.1.0/bundle.jss"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="assets/css/bootstrap/js/bootstrap.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>