body{
    background-color: seashell;
}

/*Barre de navigation*/
.sideBar{
    background-color: rgba(122, 125, 132,.7);
    padding-top: 30px;
    border-right: 3px double black;
    padding: 5px;
    min-height: 1500px;
    position: fixed;
}
.smallBar{
    display: none;
}
.profilPic{
    width: 200px;
    min-height: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.picture{
    width:200px;
}
.profilData{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    width: 100%;
    padding: 0px;
}
.navBar{
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
    width: 100%;
    padding: 0px;
}
.navBar>li{
    list-style-type: none;
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
    padding: 0px;
}
.button{
    background-color: rgb(122, 125, 132,.7) !important;
}
.button:hover{
    background-color: white !important;
    color: black !important;
}
.copyright{
    text-align: center;
}
/*------------------------------------------------*/
/*Contenu*/

.content{
    margin-top: 30px;
    background-color: white;
    /*background-image: linear-gradient(rgba(300, 300, 300, 0.8), rgba(0, 0, 0, 0.8)), url("../img/parchemin2.jpg");
    background-image: url("../img/parchemin2.jpg");
    font-weight: bold;
    background-size: 100%;*/
    font-family: "URW Palladio L";
    border: 6px double black;
    box-shadow: 0 0 15px rgba(55,55,55,.7), 0 0 10px rgba(55,55,55,.7);
}
h1{
    background-color: rgba(122, 125, 132,.1);
    /*text-shadow: none;
    text-shadow: 0 0 15px rgba(255,255,255,.9), 0 0 10px rgba(255,255,255,.9);
    background-color: #718f94;*/
}
h1, h2, h3{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}
h4{
    text-align: center;
}
.name, h1, h2, h3, h4{
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    font-weight: bold;
    text-decoration: underline;
    font-family: "URW Chancery L";
}
.celulesA{
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 30px;
}
.celulesB{
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 30px;
}
.contentImg{
    max-width: 60%;
    margin-bottom: 30px;
    margin: auto;
}
/*-----------------------------*/
hr{
    border: 1px solid black;
}
/*-----------------------------------------------------------------------------------------------------*/
/* Timeline vertical line
ul.timeline::before {
    content: '';
    background:  rgba(122, 125, 132,.4);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    z-index: 400;
    border-radius: 1rem;
}*/

li.timeline-item {
    list-style-type: none;
    margin: 20px 0;
}

 Timeline item arrow
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid rgba(122, 125, 132,.7);
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}*/

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: rgba(122, 125, 132,.7);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(122, 125, 132,.7);
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.note{
    text-align: center;
}


/*---------------------------------------------------------------------------------*/

